.container {
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column; 
    align-items: center;
    /*background: var(--background);*/
}

.content {
    width: 670px;
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}
.filtro-container {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pesquisar-label {
    font-size: 14px;
}

.filtro-input-action {
    display:flex;
    align-items: center;
}

.filtro-input-text {
    display: flex;
    width: 100%;
}

.filtro-input-text input[type=text] {
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 5px 10px;
    transition: border-color 0.2s;
}

.filtro-input-text input[type=text]:hover {
    border-color: var(--blue);
} 

.filtro-action-button {
    margin-left: auto;
}

.filtro-action-button input[type=submit] {
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background: var(--blue);
    transition: filter 0.2s;
    cursor: pointer;
    font-weight: 700;
}

.filtro-action-button input[type=submit]:hover {
    filter: brightness(0.8);
}

.filtro-categoria-container {
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

.combobox-categoria {
    padding: 5px 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: white;
    transition: border-color 0.2s;
}

.combobox-categoria:hover {
    border-color: var(--blue);
}

.edit-btn,
.exclude-btn {
    cursor: pointer;
    transition: filter 0.2s;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background: var(--cancelbtn);
    min-width: 60px;
    padding: 3px 0;
}

.edit-btn:hover {
    background: var(--blue);

}
.exclude-btn:hover {
    background: var(--red);
}
