* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --background: #E5E5E5;
    --border: #E5E5E5;
    --background-darker: #C4C4C4;
    --highlight: #7d7d7d;
    --cancelbtn: #cecaca;
    --white: #ffffff;
    --red: #ff5151;
    --green: #0e440e;
    --blue: #5cb3f1;
}
